$font-h2: 700 clamp(1rem, 2vw, 3rem) 'Roboto',
sans-serif;
$font-h3: 700 1.5rem 'Roboto',
sans-serif;
$font-paragraph: 400 clamp(1rem, 1.8vw, 2rem) 'Roboto',
sans-serif;
$font-button: 400 .8rem 'Roboto',
sans-serif;

.back-button {
    background: var(--color-background-post);
    color: #fff;

    font: $font-button;
    align-self: flex-end;

    padding: 0.5rem .9rem;
    margin-right: 1rem;

    border: none;
    border-radius: 0.375rem;

    text-decoration: none;
    transition: .3s;

    &:hover {
        transform: scale(.98);
    }

    &:active {
        transform: scale(1.1);
    }
}

article {
    width: 95%;
    min-height: 18rem;

    margin: 1rem auto;
    padding: 1rem;

    text-align: center;

    border-bottom: 0.1rem solid #34495E;

    h2 {
        color: #34495E;
        font: $font-h2;

        margin-bottom: 3rem;
    }

    p {
        color: #34495E;
        font: $font-paragraph;
        margin-bottom: 5rem;

        &::first-letter {
            margin-left: 1rem;
        }
    }
}

h3 {
    margin-left: 2rem;
    font: $font-h3;

    text-decoration: underline;
}

.other-publications {
    width: 90%;

    margin: 1rem auto;
    padding: 0.5rem;
}

@media (min-width: 800px) {
    .other-publications {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        padding-top: 1rem;

        li {
            width: 40%;

            a {
                height: 8rem;
                padding: .3rem;
                font-size: clamp(1rem, 1.5vw, 1.5rem);
            }
        }

    }
}